@using Vehycle.Web.ViewModels.Photo;

@model PhotoViewModel


<div class="container mt-3">
	<input type="file" name="file" id="file" asp-for="FormFile" multiple class="form-control custom-file-input">
	<label class="custom-file-label">Choose File</label>
	<span class="text-success">
		@ViewBag.Message
	</span>
</div>
<button class="btn btn-outline-primary float-end mt-3" type="submit" value="upload">Upload</button>