@using Vehycle.Web.ViewModels.Photos;

@model UploadViewModel;

@{
	var vehycleDetails = TempData["Vehycle"];

}

<div class="container">
	<form method="post" asp-controller="Photo" asp-action="Upload" enctype="multipart/form-data">
		<div class="form-group">
			<label asp-for="FormFile"></label>
			<input type="file" name="file" id="file" asp-for="FormFile" multiple class="form-control custom-file-input">
			<label class="custom-file-label">Choose File</label>
		</div>
		<div>
			<button class="btn btn-outline-primary float-end mt-3" type="submit" value="upload">
				Upload
			</button>
		</div>
		<span class="text-success">
			@ViewBag.Message
		</span>
	</form>

</div>