@using Vehycle.Web.ViewModels;
@using Vehycle.Web.ViewModels.Vehycles;

@model VehycleFormModel

@{

	ViewData["Title"] = "My Cars";

}
<section>
	<form method="post" enctype="multipart/form-data">
		<div class="container mt-3">
			<div class="row">
				<div class="col">
					<label asp-for="CategoryId"></label>
					<select asp-for="CategoryId" class="form-control">
						@foreach (var category in Model.Categories)
						{
							<option value="@category.Id">@category.Name</option>
						}
						<span asp-validation-for="Categories" class="small text-danger"></span>
					</select>
				</div>
				<div class="col">
					<label asp-for="Brand"></label>
					<input asp-for="Brand" class="form-control" placeholder="Brand">
					<span asp-validation-for="Brand" class="small text-danger"></span>
				</div>
				<div class="col">
					<label asp-for="Model"></label>
					<input asp-for="Model" class="form-control" placeholder="Model">
					<span asp-validation-for="Model" class="small text-danger"></span>
				</div>
				<div class="col">
					<label asp-for="Year"></label>
					<input asp-for="Year" class="form-control" placeholder="Year">
					<span asp-validation-for="Year" class="small text-danger"></span>
				</div>
			</div>
			<div class="container mt-3">
				<div class="row">
					<div class="col">
						<label asp-for="Price"></label>
						<input asp-for="Price" class="form-control" placeholder="Price">
						<span asp-validation-for="Price" class="small text-danger"></span>
					</div>
					<div class="col">
						<label asp-for="Color"></label>
						<input asp-for="Color" class="form-control" placeholder="Color">
						<span asp-validation-for="Color" class="small text-danger"></span>
					</div>
					<div class="col">
						<label asp-for="VehycleType"></label>
						<input asp-for="VehycleType" class="form-control" placeholder="Type">
						<span asp-validation-for="VehycleType" class="small text-danger"></span>
					</div>
					<div class="col">
						<label asp-for="Doors"></label>
						<input asp-for="Doors" class="form-control" placeholder="Doors">
						<span asp-validation-for="Doors" class="small text-danger"></span>
					</div>
				</div>
			</div>
			<div class="container mt-3">
				<div class="row">
					<div class="col">
						<label asp-for="Condition"></label>
						<input asp-for="Condition" class="form-control" placeholder="Condition">
						<span asp-validation-for="Condition" class="small text-danger"></span>
					</div>
					<div class="col">
						<label asp-for="Transmition"></label>
						<input asp-for="Transmition" class="form-control" placeholder="Transmition">
						<span asp-validation-for="Transmition" class="small text-danger"></span>
					</div>
					<div class="col">
						<label asp-for="HorsePower"></label>
						<input asp-for="HorsePower" class="form-control" placeholder="HP">
						<span asp-validation-for="HorsePower" class="small text-danger"></span>
					</div>
					<div class="col">
						<label asp-for="EuroStrandart"></label>
						<input asp-for="EuroStrandart" class="form-control" placeholder="EU">
						<span asp-validation-for="EuroStrandart" class="small text-danger"></span>
					</div>
				</div>
			</div>
			<div class="container mt-3">
				<div class="row">
					<div class="col-md-4">
						<label asp-for="VehycleInfo"></label>
						<textarea asp-for="VehycleInfo" class="form-control" placeholder="Details"></textarea>
						<span asp-validation-for="VehycleInfo" class="small text-danger"></span>
					</div>
				</div>
			</div>
			<button class="btn btn-outline-primary float-end mt-3" type="submit" value="Add">Upload</button>
	</form>
</section>


